<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bet.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @bet.link %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
